{% extends 'base.html' %}
{% load thumbnail %}
{% block header %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <div class="mb-5">
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
       {% endif %}
    </div>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
              <div class="h6 text-muted">
              Подписчиков: {{ followers_count }} <br>
              Избранных авторов: {{ following_count }}
              </div>
      </li>
    </ul>
    {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: <a href="{% url 'posts:profile' author.username %}"> {{ author.get_full_name }}</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %}
        <li>
          Группа: <a href="{% url 'posts:group_posts' post.group.slug %}">
          {% endif %}
          {{ post.group.title }}</a>
        </li>
      </ul>
      {% thumbnail post.image "960x540" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>
        {{ post.text }}
      </p>
      <a href="{% url 'posts:post_detail' post.id %}">Подробная информация </a>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% comment %} <a href="{% if post.group %}{% url 'posts:group_posts' post.group.slug %}{% endif %}">Все записи группы</a> {% endcomment %}
    {% if page_obj.has_other_pages %}
      {% include 'posts/includes/paginator.html' %}
    {% endif %}
    </div>
  </div>
{% endblock %}
